code.code-large, .rst-content tt.code-large {
    font-size: 90%;
}

code {
    padding: 2px 5px;
    color: #c7254e;
    background-color: #f9f2f4;
    font-size: 75%;
}

code, kbd, pre, samp  {
    font-family: monospace,serif;
    font-size: 12px !important;
}
